profiles {
        standard {
                apptainer.enabled = true
                apptainer.autoMounts = false
        }
        singularity {
                singularity.enabled = true
                singularity.autoMounts = true
        }
}

process {
        container = 'docker://parmejohn/scrna_full@sha256:d2c427e19031eec81e146bfe1f79ae69cd88bb24bd5b82b26abd26298919b3aa'
}

