profiles {
        standard {
                apptainer.enabled = true
                apptainer.autoMounts = false
        }
        singularity {
                singularity.enabled = true
                singularity.autoMounts = true
        }
}

process {
        container = 'docker://parmejohn/scrna_full@sha256:1261f2f4c070c37ae4deab1972e5f1f61a56fdf9608bca2f6b17f562e7b9b414'
}

