profiles {
        standard {
                apptainer.enabled = true
                apptainer.autoMounts = false
        }
        singularity {
                singularity.enabled = true
                singularity.autoMounts = true
        }
}

process {
        container = 'docker://parmejohn/scrna_full@sha256:e8b5e935de46660172616e5c373468d6b32bf21211dd2d64f3fcceca2f09f74b'
}

